<div class="takeNoteSection" >
    <mat-card [style.background-color]="Color">
        <div class="card-title" *ngIf="fullEdit">
            <input class="title-in font" matInput placeholder="title"  [style.background-color]="Color"   id="title" [(ngModel)]="title">

            <div class="pin-div" (click)="togglePin()" matTooltip="Pin note" matTooltipPosition='below'>
                <div role="button" class="pin" [ngClass]="pin ? 'pinned-back' : 'unpinned-back'">
                </div>
            </div>
        </div>

        <div class="note-input" (click)=displayFull()>
            <input contenteditable="true" aria-multiline="true" role="textbox"  [style.background-color]="Color"   Placeholder="Take a note..."
                class="notes-main" tabindex="0" spellcheck="true" id="writtenNote" [(ngModel)]="writtenNote">
            <div class="img-upload" *ngIf="!fullEdit"></div>

        </div>

        <div class="card-bottom" id="bottom" *ngIf="fullEdit">
            <app-icons (onChangeColor)="receivecolor($event)"></app-icons>
        </div>
        <div fxLayout="row">
            <button class="close-note" mat-button (click)="addNote()">Close</button>
          </div>
    </mat-card>
</div>