<div class="takeNoteSection" >
    <mat-card [ngClass]="getColor()" >
        <div class="card-title" *ngIf="fullEdit">
            <input class="title-in font" matInput placeholder="title" [ngClass]="getColor()"   id="title" [(ngModel)]="title">

            <div class="pin-div" (click)="togglePin()" matTooltip="Pin note" matTooltipPosition='below'>
                <div role="button" class="pin" [ngClass]="pin ? 'pinned-back' : 'unpinned-back'">
                    <!-- <div role="button" class="pin" [ngClass]="pin ? 'pinned-back' : 'pinned-back'">  -->
                </div>
            </div>
        </div>

        <div class="note-input" (click)=displayFull()>
            <input contenteditable="true" aria-multiline="true" role="textbox" [ngClass]="getColor()"   Placeholder="Take a note..."
                class="notes-main" tabindex="0" spellcheck="true" id="writtenNote" [(ngModel)]="writtenNote">
            <div class="img-upload" *ngIf="!fullEdit"></div>

        </div>

        <div class="card-bottom" id="bottom" *ngIf="fullEdit">
            <mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
                <div class="card-bottom" id="bottom">
                    <div class="note-prop">

                        <div class="reminder prop" role="button" matTooltip="Remind me" matTooltipClass="prop-tip"
                            matTooltipPosition='below'></div>
                        <div class="back-img prop" role="button" matTooltip="Add image" matTooltipPosition='below'>
                        </div>
                        <div class="back-color prop" [matMenuTriggerFor]="aboveMenu" role="button" matTooltip="Change color"
                            matTooltipPosition='below'>
                          

                                    <mat-menu #aboveMenu="matMenu" yPosition="above">
                                        <div fxLayout="row" class="space" fxLayoutAlign="space-between center">
                                      
                                          <button matTooltip="Default" class="pallete bg-white" (click)="Color('#FFFFFF')" mat-menu-item></button>
                                      
                                          <button matTooltip="Red" value="#E75F5F" (click)="Color('#E75F5F')" class="pallete bg-red" mat-menu-item></button>
                                      
                                          <button matTooltip="Green" (click)="Color('#65E665')" class="pallete bg-green" mat-menu-item></button>
                                        </div>
                                      
                                        <div fxLayout="row" class="space" fxLayoutAlign="space-between center">
                                      
                                          <button matTooltip="Ornage" (click)="Color('#E28011')" class="pallete bg-orange" mat-menu-item></button>
                                      
                                          <button matTooltip="Pink" (click)="Color('#EE6CE3')" class="pallete bg-pink" mat-menu-item></button>
                                      
                                          <button matTooltip="Gray" (click)="Color('#C3C0C086')" class="pallete bg-gray" mat-menu-item></button>
                                      
                                        </div>
                                        <div fxLayout="row" fxLayoutAlign="space-between center">
                                      
                                          <button matTooltip="purple" (click)="Color('#BEE7AEB')" class="pallete bg-purple" mat-menu-item></button>
                                      
                                          <button matTooltip="Blue" (click)="Color('#5EADEE')" class="pallete bg-blue " mat-menu-item></button>
                                      
                                          <button matTooltip="Yellow" (click)="Color('#E7DA65')" class="pallete bg-yellow" mat-menu-item></button>
                                      
                                        </div>
                                      </mat-menu>
                              

                        </div>
                        <!-- [card]="note" -->
                        <div class="archive prop" [class.clicked]="isArchive" (click)="isArchive=!isArchive"
                            role="button" matTooltip="Archive" matTooltipPosition='below'>
                        </div>
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon class="iconpadd">more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item disabled>
                                <p>Add Label</p>
                            </button>

                        </mat-menu>
                        <p class="button" style="padding-left: 230px ;"> <button mat-button formControlName="noteId"
                                mat-dialog-close (click)="addNote()">Close</button></p>
                        
                    </div>
                </div>

            </mat-dialog-actions>

        </div>
    </mat-card>
</div>

