<div [style.background-color]=color>
  <form [formGroup]="cardForm">
      <div class="notesTitle" fxLayout="row" fxLayoutAlign="space-between center">
        <input class="boreder" mat-dialog-title formControlName="title" placeholder="title" value="{{data.title}}" [style.background-color]=color />
        <div class="container" fxlayoutAlign="center center">
          <mat-icon class="my-button pinBtn" [class.clicked]="true">push_pin</mat-icon>
        </div>
      </div>
  
      <div>
        <input mat-dialog-title formControlName="writtenNote" placeholder="writtenNote" value="{{data.writtenNote}}" [style.background-color]=color />
      </div>
  
    </form>
    <mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
      <div class="card-bottom" id="bottom">
        <app-icons [card]="data"></app-icons>
        <p fxLayout="row">
          <button class="button" mat-button formControlName="noteId" (click)="updateNote()" [style.background-color]=color>Close</button>
        </p>
    </div>
  
