<div>
  <div *ngIf="!isTrashComponent" class="container">
      <div class="icons">
          <button class="buttons" matTooltip="Remind me">
              <img class="icon" src="../../../assets/notifications_black_24dp.svg" alt="">
          </button>
      </div>

      <!-- <div class="icons">
          <button class="buttons" matTooltip="Collaborator">
              <img class="icon" src="../../../assets/person_add_alt_black_24dp.svg" alt="">
          </button>
      </div> -->

      <div class="icons">
          <button class="buttons" matTooltip="Change colour" [matMenuTriggerFor]="changeColor">
              <img class="icon" src="../../../assets/palette_black_24dp.svg" alt="">
          </button>
      </div>

      <mat-menu #changeColor="matMenu">
          <div class="colors">
              <button mat-menu-item class="icon-color white" matTooltip="White"
                  (click)="updateColor(card, '#FFFFFF')"></button>
              <button mat-menu-item class="icon-color red" matTooltip="Red"
                  (click)="updateColor(card, '#F28B82')"></button>
              <button mat-menu-item class="icon-color orange" matTooltip="Orange"
                  (click)="updateColor(card, '#FBBC04')"></button>
              <button mat-menu-item class="icon-color yellow" matTooltip="Yellow"
                  (click)="updateColor(card, '#FFF475')"></button>
          </div>

          <div class="colors">
              <button mat-menu-item class="icon-color green" matTooltip="Green"
                  (click)="updateColor(card, '#CCFF90')"></button>
              <button mat-menu-item class="icon-color teal" matTooltip="Teal"
                  (click)="updateColor(card, '#A7FFEB')"></button>
              <button mat-menu-item class="icon-color blue" matTooltip="Blue"
                  (click)="updateColor(card, '#CBF0F8')"></button>
              <button mat-menu-item class="icon-color dark-blue" matTooltip="Dark blue"
                  (click)="updateColor(card, '#AECBFA')"></button>
          </div>

          <div class="colors">
              <button mat-menu-item class="icon-color purple" matTooltip="Purple"
                  (click)="updateColor(card, '#D7AEFB')"></button>
              <button mat-menu-item class="icon-color pink" matTooltip="Pink"
                  (click)="updateColor(card, '#FDCFE8')"></button>
              <button mat-menu-item class="icon-color brown" matTooltip="Brown"
                  (click)="updateColor(card, '#E6C9A8')"></button>
              <button mat-menu-item class="icon-color grey" matTooltip="Grey"
                  (click)="updateColor(card, '#E8EAED')"></button>
          </div>
      </mat-menu>

      <div class="icons">
          <button class="buttons" matTooltip="Add image">
              <img class="icon" src="../../../assets/image_black_24dp.svg" alt="">
          </button>
      </div>

      <div class="icons">
          <button class="buttons" (click)="archiveNote()" *ngIf="!isArchiveComponent" matTooltip="Archive">
              <img class="icon" src="../../../assets/archive_black_24dp.svg" alt="">
          </button>
      </div>

      <div>
          <button class="buttons" (click)="archiveNote()" *ngIf="isArchiveComponent" matTooltip="Unarchive">
              <img class="icons" src="../../../assets/unarchive_black_24dp.svg" alt="">
          </button>
      </div>

      <div class="icons">
          <button matTooltip="More" class="my-button" [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
        </div>

      <mat-menu #menu="matMenu">

          <button mat-menu-item>
              <span (click)="trashNote(card.noteId)">Delete note</span>
          </button>
          <button mat-menu-item disabled>
            <p>Add Label</p>
          </button>

      </mat-menu>
  </div>

  <div *ngIf="isTrashComponent" fxLayout="row">
      <div class="buttons" (click)="deleteNote(card.noteId)" matTooltip="Delete forever">
          <img class="icons" src="../../../assets/delete_forever_black_24dp.svg" alt="">
      </div>

      <div class="buttons" (click)="trashNote(card.noteId)" matTooltip="Restore">
          <img class="icons" src="../../../assets/restore_from_trash_black_24dp.svg" alt="">
      </div>
  </div>

</div>